// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
// *{
//     margin:0;
//     padding:0;
//     box-sizing: border-box;
// }
// body{
//     width: 100%;
//     height: 100%;
//     background: black;
//     background-size: cover;
//     background-position: center;
//     font-family: Aquire;
//     ul li{
//         list-style: none;
//     }
//     a{
//         text-decoration:none;
//         color: #ffffff;
//     }
// }




// // CONTAINER
// .container{
//     width: 100%;
//     height: 100vh;
//       position: relative;
//       overflow: hidden;

//     // LOADER FINISH
//     // text code
//     img{
//         width: 200px;
//     }
//     // NAVBAR START
//         nav{
//             width: 100%;
//             display: grid;
//             grid-template-columns: 50% 50%;
//             padding: 20px 0px;
//             // logo
//             .logo{
//                 padding:0px 25px;
//                 span{
//                     display: inline-block;
//                     font-size: 45px;
//                     font-family: Infected;
//                     text-shadow: 2px 2px 3px rgba(0,0,0,0.4),
//                     2px 2px 3px rgba(0,0,0,0.4),
//                     2px 2px 4px rgba(0,0,0,0.4),
//                     2px 2px 5px rgba(0,0,0,0.4),
//                     2px 2px 5px rgba(0,0,0,0.6);
//                 }
//             }

//             // menuu
//             .menu {
//             ul li{
//                 display: inline-block;
//                 a{
//                     padding: 10px 20px;
//                     font-size: 20px;
//                     text-shadow: 2px 2px 3px rgba(0,0,0,0.4),
//                     2px 2px 3px rgba(0,0,0,0.4),
//                     2px 2px 4px rgba(0,0,0,0.4),
//                     2px 2px 5px rgba(0,0,0,0.4),
//                     2px 2px 5px rgba(0,0,0,0.6);
//                 }
//             }

//             }
//         }
//    // NAV FINISH

// // WRAPPER START
// .wrapper{
//     width: 100%;
//     display: grid;
//     grid-template-columns: 50% 50%;
//     padding: 20px;
//     padding-top: 30px;
//     .content{
//         .h1{
//             width: 100%;
//             overflow: hidden;
//             h1{
//                 font-size:130px;
//                 line-height: 90%;
//                 text-shadow: 2px 2px 3px rgba(0,0,0,0.4),
//                 2px 2px 3px rgba(0,0,0,0.4),
//                 2px 2px 4px rgba(0,0,0,0.4),
//                 2px 2px 5px rgba(0,0,0,0.4),
//                 2px 2px 5px rgba(0,0,0,0.4),
//                 2px 2px 5px rgba(0,0,0,0.4),
//                 2px 2px 5px rgba(0,0,0,0.6),
//                 2px 2px 5px rgba(0,0,0,0.6),
//                 2px 2px 5px rgba(0,0,0,0.6),
//                 2px 2px 5px rgba(0,0,0,0.6),
//                 2px 2px 5px rgba(0,0,0,0.6),
//                 2px 2px 5px rgba(0,0,0,0.6),
//                 2px 2px 3px rgba(0,0,0,0.6);
//             }
//         }
    
//         p{
//             font-family: 'Poppins', sans-serif;
//             font-size: 17px;
//             line-height: 109%;
//             width: 70%;
//             padding-top: 20px;
//         }
//         a{
//             display: inline-block;
//             border: 3px solid #fff;
//             border-radius: 19px;
//             padding: 7px 20px;
//             font-size: 19px;
//             margin: 30px 0px;
//             text-shadow: 2px 2px 3px rgba(0,0,0,0.4),
//             2px 2px 3px rgba(0,0,0,0.4),
//             2px 2px 4px rgba(0,0,0,0.4),
//             2px 2px 5px rgba(0,0,0,0.4),
//             2px 2px 5px rgba(0,0,0,0.6);
//             transition: .5s;
//             &:hover{
//                 background: #ffffff;
//                 border: 3px solid #ffffff;
//                 color: rgb(37, 36, 36);
//                 text-shadow: none;
             
//             }
//         }
//     }
// }
// // WRAPPER FINISH


// }